body {
  margin: 0;
  background-color: grey;
}

header {
  position: relative;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.logo_link {
  display: flex;
  margin-left: 50px;
}

.logo_img {
  align-self: center;
  width: 40px;
  height: 40px;
}

nav {
  padding-right: 50px;
}

ul {
  display: flex;
  padding: 0;
  margin: 10px 0;
}

.header__list-item {
  list-style: none;
}

.header__list-item:last-child {
  margin-left: 10px;
}

.header__list-item:first-child {
  margin-right: 10px;
}

.header__list-item:not(:first-child) {
  margin: 0 10px;
}

.header__list-item:not(:last-child) {
  margin: 0 10px;
}

.nav_link {
  position: relative;
  height: 15px;
  align-self: center;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
  text-wrap: nowrap;
  font-style: normal;
  text-decoration: none;
  color: black;
}

.nav_link:hover {
  color: #00acdc;
}

.nav_link.is-active {
  color: #00acdc;
}

.nav_link.is-active::after {
  content: '';
  width: 100%;
  display: block;
  position: absolute;
  height: 5px;
  bottom: -22.7px;
  background: #00acdc;
  border-radius: 12px;
}
